/* HomePage specific styles */
.main h1, .main h2 {
    color: #d9534f;
    font-weight: bold;
}

.main p {
    color: #333;
    font-size:xx-large;
}

/* Registration button styles */
button {
    background-color: #d9534f !important;  /* Red background */
    color: white !important;  /* White text */
    border: none !important;
    padding: 5px 15px !important;  /* Smaller padding */
    border-radius: 5px !important;
    font-size: 0.9rem !important;  /* Slightly smaller font size */
    cursor: pointer !important;
}

button:hover {
    background-color: #c9302c !important;  /* Darker red on hover */
}

